<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicetcm.nibsplus.filemng.dao.CouponMapper">
    <delete id="deleteTFnElandCoupon" parameterType="com.nicetcm.nibsplus.filemng.model.FileMngParameterVO">
        DELETE FROM OP.T_FN_ELAND_COUPON WHERE DEAL_DATE = #{dealDate} AND BRANCH_CD = #{branchCd}
    </delete>

    <select id="selectTFnElandCoupon" parameterType="com.nicetcm.nibsplus.filemng.model.TFnElandCouponVO" resultType="com.nicetcm.nibsplus.filemng.model.TFnElandCouponVO">
        SELECT CONFIRM
        FROM   OP.T_FN_ELAND_COUPON
        WHERE      DEAL_DATE = #{dealDate}
               AND BRANCH_CD = #{branchCd}
    </select>
</mapper>